################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteMonitoring.Model/obj
/SiteMonitoring.Model/bin/Debug/netstandard2.0
/SiteMonitoing.sln.DotSettings.user
/.vs/SiteMonitoing
/SiteMonitoring.Service/bin/Debug/netcoreapp2.1
/SiteMonitoring.Service/obj
